<html>
<head>
    <title> Enter your dates</title>
</head>
<body>
    <h4>Select the range for a maximum of 7 days</h4>
    <form action="/gettimetable" method="get">
             <input type="date" name="startdate">
             <input type="date" name="enddate">
             <select class="select form-control" id="dept" name="dept1">
                <option value="gm">
                 General Medicine
                </option>
                <option value="antmy">
                        Anatomy
                </option>
                <option value="commed">
                        Community Medicine
                       </option>
                <option value="formed">
                            Forensic Medicine
                           </option>	   
                <option value="pmcgy">
                                Pharmacology
                        </option>	   
                <option value="gs">
                 General Surgery
                </option>
                <option value="obagn">
                 Obstetrics &amp; Gynaecology
                </option>
                <option value="opdcs">
                 Orthopaedics
                </option>
                <option value="pdtrc">
                 Pediatrics
                </option>
                <option value="pslgy">
                 Physiology
                </option>
                <option value="dmtlgy">
                 Dermatology
                </option>
                <option value="ent">
                 E&amp;T
                </option>
                <option value="optmlgy">
                 Ophthalmology
                </option>
                <option value="anstia">
                 Anaesthesia
                </option>
                <option value="rddiag">
                 Radio Diagnosis
                </option>
                <option value="dntry">
                 Dentistry
                </option>
                <option value="pstry">
                 Psychiatry
                </option>
                <option value="bb">
                 Haematology/Blood Bank
                </option>
                <option value="mlgy">
                 Pathalogy
                </option>
                <option value="mblgy">
                 Microbiology
                </option>
                <option value="bchem">
                 Bio-chemistry
                </option>
                <option value="cslty">
                 Casualty
                </option>
               </select>
             <input type="submit" value="SUBMIT">
    </form>
</body>
</html>