<html>
<head>
    <title> Enter your dates</title>
</head>
<body>
    <h4>Select the range for a maximum of 7 days</h4>
    <form action="/gettimetable" method="get">
             <input type="date" name="startdate">
             <input type="date" name="enddate">
             <select class="select form-control" id="dept" name="dept1">
                    <option value="General Medicine">
                     General Medicine
                    </option>
                    <option value="General Surgery">
                     General Surgery
                    </option>
                    <option value="Obstetrics &amp; Gynaecology">
                     Obstetrics &amp; Gynaecology
                    </option>
                    <option value="Orthopaedics">
                     Orthopaedics
                    </option>
                    <option value="Pediatrics ">
                     Pediatrics
                    </option>
                    <option value="Pulmonology">
                     Pulmonology
                    </option>
                    <option value="Dermatology">
                     Dermatology
                    </option>
                    <option value="E&amp;T">
                     E&amp;T
                    </option>
                    <option value="Ophthalmology">
                     Ophthalmology
                    </option>
                    <option value="Anaesthesia">
                     Anaesthesia
                    </option>
                    <option value="Radio Diagnosis">
                     Radio Diagnosis
                    </option>
                    <option value="Dentistry">
                     Dentistry
                    </option>
                    <option value="Psychiatry">
                     Psychiatry
                    </option>
                    <option value="bb">
                     Haematology/Blood Bank
                    </option>
                    <option value="Pathalogy">
                     Pathalogy
                    </option>
                    <option value="Microbiology">
                     Microbiology
                    </option>
                    <option value="Bio-chemistry">
                     Bio-chemistry
                    </option>
                    <option value="Casualty">
                     Casualty
                    </option>
                   </select>
             <input type="submit" value="SUBMIT">
    </form>
</body>
</html>